<!-- not-found-content -->
<app-not-found [visible]="!food" notFoundMessage="Food not found!" resetLinkText="Back to HomePage"></app-not-found>

<!-- food content -->
<div *ngIf="food" class="flex mx-auto my-10 p-2 flex-wrap w-2/3 border-2 border-red-900 rounded-3xl">
  <img [src]="food.imageUrl" [alt]="food.name" class="h-80 rounded-3xl"/>

  <!-- food details -->
  <div class="flex flex-col m-auto p-5">
    <div class="flex justify-between">
      <span class="text-3xl font-semibold">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">❤</span>
    </div>

    <div class="flex flex-wrap mt-3">
      <span *ngFor="let origin of food.origins" class="text-gray-600 mr-1 px-2 rounded-full bg-gray-200">
        {{origin}}
      </span>
    </div>

    <div class="flex flex-wrap my-3">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}" class="bg-gray-200 text-sm font-medium mx-0.5 px-3 py-1 rounded-full">
        {{tag}}
      </a>
    </div>

    <div class="text-lg">
      <span>
        Time to cook about <strong>{{food.cookTime}}</strong> minutes.
      </span>
    </div>

    <div class="my-4">
      <span class="text-gray-500 text-2xl font-light">Price:</span> 
      <span class="text-3xl ml-0 my-4">
         {{food.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()" class="text-white bg-red-600 text-xl p-2 rounded-full hover:bg-red-800 hover:cursor-pointer">Add To Cart</button>

  </div>
</div>