<div class="flex justify-center">
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="mt-20 w-80 mx-5">
      <h1 class="text-center text-3xl mb-5">Login Form</h1>
      <text-input [control]="fc.email" [showErrorsWhen]="isSubmitted" type="email" label="Email">
      </text-input>
      <text-input [control]="fc.password" [showErrorsWhen]="isSubmitted" type="password" label="Password">
      </text-input>
      <default-button text="Login"></default-button>
      <div class="mt-2 flex justify-center items-center">
        New user? &nbsp;
        <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
          Register here!
        </a>
      </div>
  </form>
</div>
