<h1 class="text-5xl text-gray-500 mx-3 my-2 p-3">Cart Page</h1>

<!-- not-found-content -->
<app-not-found [visible]="!cart || !cart.items.length" notFoundMessage="Your cart is Empty!" resetLinkText="Go to HomePage"></app-not-found>

<!-- food items -->
<div *ngIf="cart && cart.items.length" class="flex justify-center gap-4 flex-wrap items-start my-5 mx-8">
   <ul class="flex flex-col border-2 rounded-2xl border-solid border-red-900">
      <li *ngFor="let cartItem of cart.items" class="flex justify-evenly items-center flex-wrap p-3 text-lg">
         <div class="mx-10 p-3">
            <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name"
            class="w-20 h-20 rounded-full" />
         </div>
         <div class="mx-10">
            <a routerLink="/food/{{ cartItem.food.name }}">
               {{ cartItem.food.name }}
            </a>
         </div>
         <div class="mx-10">
            <select #quantitySelect class="w-10 outline-none font-thin border-b-2"
               [value]="cartItem.quantity"
               (change)="changeQuantity(cartItem, quantitySelect.value)">
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
            </select>
         </div>
         <div class="mx-10">
            {{ cartItem.price | currency }}
         </div>
         <div class="mx-10">
            <button class="text-red-700 rounded-2xl hover:cursor-pointer"
            (click)="removeFromCart(cartItem)">
               Remove
            </button>
         </div>
      </li>
   </ul>
   
   <div class="flex flex-col border-2 py-6 px-4 rounded-2xl border-solid border-red-900">
      <div class="text-2xl flex flex-col mx-auto">
         <div class="mb-3">
            <span class="text-gray-700">Total Quantity : </span>
            <span class="font-medium">{{ cart.totalCount }}</span>
         </div>
         <div class="mb-5">
            <span class="text-gray-700">Total Amount : </span>
            <span class="font-medium">{{ cart.totalPrice | currency }}</span>
         </div>
      </div>
      <a routerLink="/checkout"
         class="text-white bg-red-600 text-center py-3 rounded-2xl hover:bg-red-900 hover:cursor-pointer">
         Proceed to Checkout
      </a>
   </div>
</div>