<h1 class="text-5xl text-gray-500 mx-3 my-2 p-3">Cart Page</h1>

<!-- not-found-content -->
<app-not-found [visible]="!cart || !cart.items.length" notFoundMessage="Your cart is Empty!" resetLinkText="Go to HomePage"></app-not-found>

<!-- food items -->
<div *ngIf="cart && cart.items.length" class="flex flex-wrap items-start mt-2 m-6">
   <ul class="flex flex-col flex-[3_0] justify-evenly border-2 m-2 rounded-2xl border-solid border-red-900">
      <li *ngFor="let cartItem of cart.items" class="flex justify-around items-center flex-wrap p-2 text-lg">
         <div class="p-3">
            <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name"
            class="w-20 h-20 object-cover rounded-full" />
         </div>
         <div>
            <a routerLink="/food/{{ cartItem.food.name }}">
               {{ cartItem.food.name }}
            </a>
         </div>
         <div>
            <select #quantitySelect class="w-10 outline-none font-thin border-b-2"
               [value]="cartItem.quantity"
               (change)="changeQuantity(cartItem, quantitySelect.value)">
               <option>1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
            </select>
         </div>
         <div>
            {{ cartItem.price | currency }}
         </div>
         <div>
            <button class="text-red-700 rounded-2xl hover:cursor-pointer"
            (click)="removeFromCart(cartItem)">
               Remove
            </button>
         </div>
      </li>
   </ul>
   <div class="flex flex-col justify-between items-center flex-[1_3] border-2 m-2 p-2 rounded-2xl border-solid border-red-900">
      <div class="text-2xl flex flex-col justify-center items-start m-3 mt-3">
         <div class="mb-3">
            <span class="text-gray-700">Total Quantity : </span>
            <span class="font-medium">{{ cart.totalCount }}</span>
         </div>
         <div>
            <span class="text-gray-700">Total Amount : </span>
            <span class="font-medium">{{ cart.totalPrice | currency }}</span>
         </div>
      </div>
      <a routerLink="/checkout"
         class="text-white bg-red-600 block w-full text-center justify-self-center p-3 rounded-2xl hover:bg-red-900 hover:cursor-pointer">Proceed
         to Checkout</a>
   </div>
</div>